#app {
    margin: 0 auto;
    max-width: 16cm;
    user-select: none;
}

body {
    background-image: url('/bg2.jpg');
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}